.selectList {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	.list {
		display: flex;
		flex-direction: column;
	}

	.title {
		font-weight: 500;
		text-transform: capitalize;
		letter-spacing: 0.05em;
	}

	.row {
		input {
			display: none;
		}
		label {
			text-transform: capitalize;
			cursor: pointer;
			&:hover {
				color: var(--primary-color);
			}
		}
		&.active {
			label {
				color: var(--primary-color);
			}
		}
	}
}
