@import "./../../styles/mixins.scss";

.wrapper {
	margin: 0 auto;
	display: grid;
	grid-template-columns: 400px 500px;
	grid-template-rows: auto 50px;
	gap: 1rem;

	.coords {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		.prepared {
			@include scrollbar-reset(0.8rem, "rectangle");
			overflow-y: auto;
			padding-left: 1rem;
			max-height: 250px;
		}
		.customSwitch {
			padding-left: 1rem;
		}

		.result {
			padding-left: 1rem;
			display: flex;
			flex-direction: column;
			gap: 0.3em;
			span:nth-child(2) {
				color: var(--primary-color);
				font-size: 1.3rem;
			}
		}
	}
	.map {
		outline: 1px solid var(--primary-color);
	}
	.saveButton {
		grid-column: 1/-1;
	}
}
