@import "./../../styles/mixins.scss";
.images-container {
	@include scrollbar-reset(0.2rem, "rounded", "x");
	padding-top: 0.1rem;
	padding-bottom: 0.2rem;
	--row-size: 60px;
	display: grid;
	overflow-y: scroll;
	padding-inline: 0.3rem;
	grid-auto-columns: 40px;
	grid-auto-rows: var(--row-size);
	grid-auto-flow: row;
	gap: 0.5rem;
	max-height: calc(3.8 * var(--row-size));
	img {
		width: 90%;
		margin: 0 auto;
		height: 100%;
		object-fit: contain;
		&.active {
			outline: 2px solid var(--primary-color);
		}
	}
}

.wrapper {
	// overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 60px;

	.action {
		font-size: 1.5rem;
	}
}
