.not-found-page {
	display: flex;
	flex-direction: column;
	* {
		margin: 0;
	}
	h1 {
		font-size: 15rem;
		font-weight: 900;
		text-align: center;
		background-image: url("https://res.cloudinary.com/dzy8xh83i/image/upload/v1675457948/OZON_DEFAULT/404bg_ao0puo.jpg");
		color: transparent;
		background-size: contain;
		background-position: 60%;
		-webkit-background-clip: text;
		// -moz-background-clip: text;
	}
}
