* {
	// primary
	--primary-color: #005bff;
	--primary-color-light: #035bffa1;
	--primary-color-lighter: #cadcff;
	--primary-color-lightest: rgba(0, 150, 255, 0.08);
	--gray-bg: #e3e3e3;
	--gray-bg-light: #f1f1f1;
	--gray-bg-lighter: #f2f5f9;
	--gray-text: #7d7d7d;
	--gray-btn-bg: #b1b9c2;
	--text-color: #001a34;
	--text-color-dark: #031f3c;
	--heart-color: #f91155;

	--shadow-color: #4d78c73d;

	// stat link on header
	--stat-link-data-color-text: white;
	--stat-link-data-color-bg: #f91155;

	// states for inputs
	--success-color: #82aaf2;
	--error-color: #f91155;
	--error-color-light: #f91157b6;
	--error-color-dark: #d20844;
	// states for buttons
	--success-color: #10c44c;
	--success-color-dark: #21ac50;

	// --rating-color: #056cb5;
	--rating-color: #efb61c;
	--star-color: #efb61c;

	// z-indexes
	--z-sort: 10;
	--z-modal: 100;

	--new-price-bg: #10c44c;
	--credit-price-bg: #ffd540;

	--shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
