* {
	// primary
	--primary-color: #005bff;
	--primary-color-light: #035bffa1;
	--primary-color-lighter: #cadcff;
	--gray-bg: #e3e3e3;
	--gray-bg-light: #f1f1f1;
	--gray-text: #7d7d7d;
	--text-color: #001a34;
	--text-color-dark: #031f3c;
	--heart-color: #f91155;

	--shadow-color: #4d78c73d;

	// stat link on header
	--stat-link-data-color-text: white;
	--stat-link-data-color-bg: #f91155;

	// states for inputs
	--success-color: #82aaf2;
	--error-color: #f91155;

	// --rating-color: #056cb5;
	--rating-color: #efb61c;
	--star-color: #efb61c;

	// z-indexes
	--z-sort: 10;
	--z-modal: 100;
}
