* {
	--primary-color: #005bff;
	--gray-bg: #e3e3e3;
	--gray-text: #7d7d7d;
	--text-color: #001a34;
	--text-color-dark: #031f3c;
	--stat-link-data-color-text: white;
	--stat-link-data-color-bg: #f91155;
}
