.btn {
	background: white;
	border: none;
	outline: none;
	width: 100%;
	padding: 0.5em 1.2em;
	cursor: pointer;
	transition: color 0.18s ease-in-out, background-color 0.18s ease-in-out;
	&--no-padding {
		padding: 0;
	}

	&--rounded {
		border-radius: 0.5em;
	}
	&--outlined {
		background-color: white;
		color: var(--primary-color);
	}
	&--content {
		width: max-content;
	}
	&--tall {
		padding-block: 0.8em;
		font-weight: 500;
	}
	&--square {
		width: 2.1rem;
		aspect-ratio: 1/1;
	}
	&--short {
		padding-block: 0.4em;
	}
	&--bold {
		font-weight: 500;
	}
	&--black {
		background-color: black;
	}
	&--light {
		cursor: pointer;
		padding: 0;
		transition: color 0.1s ease;
		color: var(--primary-color-light);
		text-decoration-thickness: 0;
		text-decoration-line: underline;
		text-decoration-style: dashed;
		&:hover {
			color: var(--primary-color);
		}
	}
	&--middle {
		// padding: 0;
		// transition: color 0.1s ease;
		color: var(--primary-color);
		background-color: var(--primary-color-lightest);
		&:hover {
			background-color: var(--primary-color-lighter);
		}
	}
	&--transparent {
		background: transparent;
	}

	&--text-small {
		font-size: 0.9rem;
	}

	&--warn {
		color: var(--error-color-light);
		&:hover {
			color: var(--error-color);
		}
	}
	&--success {
		color: var(--success-color);
		&:hover {
			color: var(--success-color-dark);
		}
	}
	&--contained {
		background-color: var(--primary-color);
		color: white;

		&.btn--warn {
			background-color: var(--error-color);
			&:hover {
				background-color: var(--error-color-dark);
				color: white;
			}
		}
		&.btn--success {
			background-color: var(--success-color);
			&:hover {
				background-color: var(--success-color-dark);
				color: white;
			}
		}
	}
}
