.btn {
	background: white;
	border: none;
	outline: none;
	width: 100%;
	padding: 0.5em 1.2em;
	cursor: pointer;
	&--rounded {
		border-radius: 0.5em;
	}
	&--contained {
		background-color: var(--primary-color);
		color: white;
	}
	&--content {
		width: max-content;
	}
	&--tall {
		padding-block: 0.8em;
		font-weight: 500;
	}
	&--black {
		background-color: black;
	}
	&--light {
		padding: 0;
		transition: color 0.1s ease;
		color: var(--primary-color-light);
		text-decoration-thickness: 0;
		text-decoration-line: underline;
		text-decoration-style: dashed;
		&:hover {
			color: var(--primary-color);
		}
	}
}
