.input {
	border: 2px solid var(--gray-text);
	outline: none;
	padding: 0.5em 1em;
	width: 100%;
	&:focus,
	&:hover {
		border-color: var(--primary-color);
	}

	&:disabled {
		opacity: 0.3;
	}

	&:valid {
		border-color: var(--success-color);
	}
	&:not(&--not-required) {
		&:not(:valid),
		&:placeholder-shown {
			border-color: var(--error-color);
		}
	}

	&--rounded {
		border-radius: 0.5em;
	}
	&--contained {
		background-color: var(--primary-color);
		color: white;
	}
	&--content {
		width: max-content;
	}
	&--tall {
		padding-block: 0.8em;
		font-weight: 500;
	}
	&--black {
		background-color: black;
	}
}
