@import "./_normalize.scss";
@import "./_vars.scss";
@import "./_fonts.scss";
@import "./personal.scss";
@import "./products.scss";
@import "./btn.scss";
@import "./input.scss";
@import "./nofound.scss";
@import "./create-new.scss";
@import "./single-product.scss";
@import "./bookmarks.scss";
@import "./reviews-page.scss";
@import "./my-products-page.scss";
@import "./cart.scss";
@import "./checkout-page.scss";
@import "./payment-success-page.scss";
@import "./orders.scss";
@import "./single-order.scss";
@import "./single-stat.scss";
@import "./all-stats.scss";

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: main;
	font-weight: 400;
}

.default-layout {
	min-height: 120vh;
	padding: 0 2rem;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;

	main.main {
		flex-grow: 1;
		padding-bottom: 5rem;
	}
}

.my-layout {
	display: grid;
	grid-template-columns: 170px auto;
	.sidebar {
		ul {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			list-style: none;
			a {
				text-decoration: none;
				color: var(--text-color);
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.landing {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.short {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}

	.half {
		display: flex;
		gap: 1rem;
		justify-content: space-between;
	}
}
