@import "./_normalize.scss";
@import "./_vars.scss";
@import "./_fonts.scss";
@import "./personal.scss";
@import "./products.scss";
@import "./btn.scss";
@import "./input.scss";
@import "./nofound.scss";

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: main;
	font-weight: 400;
}

.default-layout {
	// outline: 1px solid red;
	min-height: 120vh;
	padding: 0 2rem;
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	main.main {
		flex-grow: 1;
		padding-bottom: 5rem;
	}
}
