.products-page {
	display: grid;
	grid-template-areas: "stats stats" "filters sort" "filters products";
	grid-template-columns: 200px auto;
	grid-template-rows: repeat(2, 50px) auto;
	gap: 1rem;
	.products-grid {
		grid-area: products;
	}
	.filters {
		grid-area: filters;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.stats {
		grid-area: stats;
	}
	.sort {
		grid-area: sort;
	}
}
