.products-page {
	display: grid;
	grid-template-areas:
		"stats stats"
		"filters view-config"
		"filters products"
		"pagination pagination";
	grid-template-columns: 200px auto;
	grid-template-rows: auto 50px minmax(300px, auto);
	gap: 1rem;

	.filters {
		grid-area: filters;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
	.stats {
		grid-area: stats;
	}
	.view-config {
		grid-area: view-config;
		display: flex;
		flex-direction: row;
	}
	.pagination {
		grid-area: pagination;
		place-self: center;
		margin-top: 1rem;
	}

	.products {
		grid-area: products;
		place-self: start;
	}
}
