.GenderChange {
	// padding-left: 0.5rem;
}
form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.btn {
	margin-top: 1rem;
}

.avatar-body {
	.options {
		display: flex;
		gap: 1rem;
		align-items: center;
		justify-content: center;
		padding-top: 1rem;
		.avatarWrapper {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}
	}
	.avatar {
		cursor: pointer;
		transition: opacity 0.3s ease-in-out;
		background-color: var(--gray-bg);
		border-radius: 50%;
		width: 10rem;
		aspect-ratio: 1/1;
		margin: 0 auto;

		line-height: 10rem;
		text-align: center;
		&:hover {
			opacity: 0.6;
		}
		& + small {
			text-align: center;
			width: 10rem;
		}

		&.active {
			outline: 0.3rem solid var(--success-color);
		}
	}

	.separator {
		text-align: center;
	}
}
