.wrapper {
	flex-grow: 1;
	z-index: 120;
	position: relative;
	background-color: #fff;

	&.suggesting {
		.suggestion {
			opacity: 1;
			pointer-events: initial;
		}
		.suggestion-bg {
			background-color: black;
			opacity: 0.5;
			pointer-events: initial;
		}
		&::after {
			pointer-events: initial;
			opacity: 1;
		}
	}

	&::after {
		position: absolute;
		content: "";
		border-radius: 2em;
		width: 120%;
		left: -10%;
		top: -40%;
		bottom: calc(-100vh + 6rem);

		background-color: white;
		pointer-events: none;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
	}
}

.suggestion {
	position: absolute;
	width: 100%;
	background-color: #fff;
	opacity: 0;
	pointer-events: none;
	z-index: 2;

	transition: opacity 0.2s ease-in-out;

	overflow-y: auto;
	max-height: calc(100vh - 8rem);

	margin-top: 1rem;
}

.suggestion-bg {
	position: fixed;
	inset: 0;
	opacity: 0;
	pointer-events: none;
	z-index: -1;

	transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.search-bar {
	position: relative;
	z-index: 10;

	width: 100%;
	display: flex;
	align-items: center;
	border-radius: 0.5rem;

	background-color: var(--primary-color);
	input {
		width: 100%;
		flex-grow: 0;
		min-width: 100px;
		max-width: 250px;
		border-radius: 0.5rem;
		border: none;
		outline: none;
		font-size: 1rem;
		padding: 0.5rem 1rem;
		border: 2px solid var(--primary-color);
		background-color: #fff;
		color: var(--text-color);
		margin-block: 0.05em;
		margin-left: 0.1em;
		@media (min-width: 750px) {
			flex-grow: 1;
			max-width: 600px;
		}
	}
	svg {
		font-size: 1.5rem;
		margin-inline: 1rem;
		color: white;
	}
}

// .search-bar-bg {
// 	position: absolute;
// 	inset: 0;
// 	z-index: 5;
// 	background-color: var(--suggest-bg);
// 	box-shadow: 0 0 0 100vmax var(--suggest-bg);
// 	clip-path: inset(0 -100%);

// 	width: 0;
// 	height: 0;
// }
