.wrapper {
	// width: 100%;
	min-width: 100px;
	width: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;

	--controls-bg: ;
	--padding-inline: 2rem;

	&.theater {
		background-color: black;
	}
	&.primary {
		--controls-bg: linear-gradient(
			to bottom,
			transparent,
			rgba(255 255 255 / 0.2) 20%,
			rgba(255 255 255 / 0.4) 40%,
			rgba(255 255 255 / 0.6) 60%,
			rgba(255 255 255 / 0.8) 80%
		);
		.videoControls {
			svg {
				color: var(--primary-color-light);
			}
		}
	}
	&.light {
		--controls-bg: linear-gradient(
			to bottom,
			transparent,
			rgba(0 0 0 / 0.4) 20%,
			rgba(0 0 0 / 0.65) 40%,
			rgba(0 0 0 / 0.75) 60%,
			rgba(0 0 0 / 0.8) 80%
		);
		.videoControls {
			svg {
				color: var(--primary-color-lighter);
			}
		}
	}
	&.dark {
		--controls-bg: linear-gradient(
			to bottom,
			transparent,
			rgba(230 230 230 / 0.4) 20%,
			rgba(230 230 230 / 0.65) 40%,
			rgba(230 230 230 / 0.75) 60%,
			rgba(230 230 230 / 0.8) 80%
		);
		.videoControls {
			svg {
				color: var(--text-color-dark);
			}
		}
	}
}

.innerWrapper {
	position: relative;
	max-width: 70%;
}

.video {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.videoControls {
	position: absolute;
	z-index: 10;
	bottom: 0;
	right: 0;
	left: 0;

	background: var(--controls-bg);
	height: 6rem;
	display: flex;
	align-items: flex-end;
	padding-bottom: 1rem;
	gap: 2rem;
	padding-inline: 2rem;
	svg {
		font-size: calc(0.8rem + 0.8cqw);
		// font-size: 2rem;
	}

	& > * {
		cursor: pointer;
	}

	.miniButton {
		margin-left: auto;
	}

	.volumeButton {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}
}

.progressBar {
	position: absolute;
	right: var(--padding-inline);
	left: var(--padding-inline);

	top: 0rem;
}
