.product {
	background-color: var(--gray-bg);
	display: flex;
	flex-direction: column;
	min-width: 200px;
	max-width: 250px;
	gap: 0.5rem;
	padding: 0.9em;
	.image {
		position: relative;
		width: 100%;
		height: 150px;
		text-decoration: none;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.name {
		text-decoration: none;
		color: black;
	}
	.rating {
		display: flex;
		align-items: center;
		gap: 0.3rem;
		justify-content: flex-end;
		font-size: 0.8rem;
		.star {
			position: relative;
			top: -0.1rem;
			color: var(--rating-color);
		}
	}

	.heart {
		position: absolute;
		z-index: 10;
		font-size: 2rem;
		right: 0.2rem;
		top: 0.2rem;
		fill: white;
		stroke: var(--primary-color);
		stroke-width: 5rem;
		transition: fill 0.3s ease-in-out, stroke 0.4s ease-in-out,
			scale 0.18s ease-in-out;
		cursor: pointer;
		&:hover {
			fill: var(--heart-color);
			stroke: var(--heart-color);
			scale: 1.6;
		}

		&.bookmarked {
			fill: var(--heart-color);
			stroke: var(--heart-color);
			&:hover {
				scale: 1.2;
			}
		}
	}
}
